@media only screen and (max-width:600px){
    body{
        background-color: bisque;
    }
    .card{
        background-color:rgb(179, 161, 139)
    }
    .himg{
        width: 220px;
    }
    #bimg{
        width: 300px;
    }
    #A_H{
        text-align: center;
        align-items: center;
       top:0;
       background-image: url(../Img/A_4-mobile.png); 
       width:100%;
       max-width :600px; 
       height: 338px;
       color: azure;
    }
    #G_H{
        text-align: center;
        align-items: center;
       top:0;
       background-image: url(../Img/G_H-1.jpg); 
       width:100%;
       max-width :600px; 
       height:338px;
       color: azure;
    }
}
@media only screen and (max-width:300px){
    body{
        background-color: bisque;
    }
    .card{
        background-color:rgb(179, 161, 139)
    }
    .himg{
        width: 150px;
    }
    #bimg{
        width: 220px;
    }
    #A_H{
        text-align: center;
        align-items: center;
       top:0;
       background-image: url(../Img/A_4-fold-edicion.png); 
       width:100%;
       max-width :300px; 
       height:169px;
       color: azure;
    }
    #G_H{
        text-align: center;
        align-items: center;
       top:0;
       background-image: url(../Img/G_H-2.jpg); 
       width:100%;
       max-width :300px; 
       height:169px;
       color: azure;
    }
}